.gallery-txt h1 {
  font-size: 50px;
  font-weight: 700;
}

.gallery-row .gallery-col {
  height: 280px;
  overflow: hidden;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .gallery-row .gallery-col {
    height: 220px;
  }
}
